

body {
    background-color: #f0f8ff; 
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


#header {
    text-align: center; 
    background: linear-gradient(to right, #74ebd5, #acb6e5); 
    color: white;
    padding: 60px 20px;
    border-bottom: 5px solid #fff;
}

#header h1 {
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.section-box {
    width: 75%;
    margin: 40px auto; 
    padding: 30px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
}


h2 {
    text-align: center;
    color: #2980b9;
    border-bottom: 2px dashed #74ebd5; 
    display: block;
    margin-bottom: 25px;
    padding-bottom: 10px;
}


.polaroid {
    background: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.polaroid img {
    border: 1px solid #eee;
    display: block;
}

.media-container {
    text-align: center; 
}

.video-box video {
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-top: 20px;
}

#footer {
    text-align: center;
    padding: 30px;
    color: #7f8c8d;
    font-size: 0.9em;
}65rt